<%=form_tag("/user/#{@user.id}/update",{multipart:true})do%>
<div class="detail">
    
    <p>ユーザー画像:<input type="file" name="image"></p>
    <div class="self_intro">自己紹介:</div><textarea name="self_intro" class="self_intro_form"><%=@user.self_intro%></textarea>
    <p>趣味:<input name="hobby" value="<%=@user.hobby%>"></p>
    <p>性別:<input name="sex" value="<%=@user.sex%>"></p>
    <p>年齢:<input name="age" value="<%=@user.age%>"></p>
    <p>連絡先:<input name="contact" value="<%=@user.contact%>"></p> 
    <input type="submit" value="決定" class="submit">
<%end%>
</div>

